/* Start Variables */
:root{
    --primary-color:#0a9484;
    --secondary-color:#ffbb1c;
    --section-padding:100px 0px;
}
body{
    font-family: "Lato", sans-serif;
}
/*  End Variables */
/* Start Global Rules */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    padding: 0;
    margin: 0;
}
/* End Global Rules */
/* Start Container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small (sm) - ≥576px */
@media (min-width: 576px) {
.container {
    max-width: 540px;
}
}

/* Medium (md) - ≥768px */
@media (min-width: 768px) {
.container {
    max-width: 720px;
}
}

/* Large (lg) - ≥992px */
@media (min-width: 992px) {
.container {
    max-width: 960px;
}
}

/* Extra Large (xl) - ≥1200px */
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
}

/* Extra Extra Large (xxl) - ≥1400px */
@media (min-width: 1400px) {
.container {
    max-width: 1320px;
}
}
/* End Container */
/* Start Spcial Header */
.special-header{
    text-align: center;
}
.special-header h2{
    font-size: 40px;
}
.special-header p{
margin-top: 10px;
color: #697382;
max-width: 700px;
line-height: 1.7;
text-align: center;
margin-left: auto;
margin-right: auto;
}
/* Start Spcial Header */
/* Start Header */
header{
background-color: var(--primary-color);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header .logo{
width: 100px;
}
header ul.nav{
display: flex;
gap: 40px;
}
header ul.nav li a{
    color: white;
}
header ul.nav li a.active{
font-weight: bold;
}
header .contact p{
    color: white;
}
header .contact a{
color: white;
}
header .bars{
    display: none;
    cursor: pointer;
    color: white;
}
@media(max-width:768px){
header .bars{
    display: block;
}
header ul.nav{
    display: none;
}
}
@media(max-width:500px){
header .contact{
display: none;
}

}
/* End Header */
/* Start Hero Section */
.hero{
background-image: url(/images/heroimage.png);
background-size: cover;
height: 700px;
position: relative;
}
.hero .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.hero .text{
    color: white;
}
.hero .text h1{
    font-size: 50px;
    max-width: 600px;
}
.hero .text p{
    font-size: 20px;
    max-width: 600px;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero .buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.hero .buttons button{
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    border-radius: 40px;
    word-spacing: 4px;
}
.hero .buttons button:first-of-type{
color: white;
background-color: var(--primary-color);
}
.hero .buttons button:nth-of-type(2){
color: black;
background-color: var(--secondary-color);
}
/* End Hero Section */
/* Start Features */
.features{
    padding-top: 100px;
    padding-bottom: 100px;
}
.features .container{
display: flex;
gap: 60px;
}
@media(max-width:991px){
    .features .container{
        flex-direction: column;
    }
}
.features .container h2{
    font-size: 40px;
}
.features .container p{
    color: #737e8c;
    padding: 30px 0;
    line-height: 1.6;
    /* max-width: 300px; */
}
.features .container ul li{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.features .container ul li span{
color: #8ec24a;
margin-right: 10px;
}
/* End Features */
/* Start Power */
.power{
background-image: url(/images/power.png);
block-size: cover;
padding: 120px 0;
}
.power .container .text{
color: white;
}
.power .container h2{
font-size: 40px;
}
.power .container p{
font-size: 20px;
margin: 20px 0;
max-width: 700px;
}
.power .container button{
background-color: var(--secondary-color);
cursor: pointer;
border: none;
padding: 15px 20px;
border-radius: 40px;
word-spacing: 4px;
}
/* End Power */
/* Start Kits */
.kits{
    padding: 100px 0;
}
.kits .container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 50px;
}
.kits .container .box .text{
padding: 11px;
}
.kits .container .box .text h3{
    margin-bottom: 20px;
}
.kits .container .box .text p{
color: #4f5c6e;
line-height: 1.7;
}
.kits .container .box p.view{
color: var(--primary-color);
margin-top: 30px;
cursor: pointer;
display: flex;
align-items: center;
gap: 20px;
font-weight: bold;
}
/* End Kits */
/* Start Repairs */
.repairs{
    background-image: url(/images/);
}
.repairs .text{
    /* color: white; */
}
.repairs h2{
    text-align: center;
    font-size: 40px;
}
/* End Repairs */
/* Start Energy */
.energy{
padding-top: 100px;
padding-bottom: 100px;
}
.energy .container{
    display: flex;
    gap: 20px;
}
.energy .container .bolt{
    color: white;
    font-size: 20px;
    padding: 20px;
    background-color: #3cab8f;
    border-radius: 10px;
    margin-bottom: 15px;
}
.energy .container .text h2{
font-size: 45px;
}
.energy .container .text p{
color: #797b7c;
line-height: 1.6;
margin-top: 10px;
}
.energy .container .boxes{
    background-color: #fffcf5;
}
.energy .container .boxes .row{
display: flex;
gap: 30px;
margin-bottom: 30px;
}
.energy .container .boxes .row .box{
border: 1px solid var(--primary-color);
padding: 20px;
border-radius: 10px;
background-color: #f4f7ed;
}
.energy .container .boxes .row .box {
}
.energy .container .boxes .row .box h2{
    margin: 20px 0 15px;
}
.energy .container .boxes .row .box p{
    line-height: 1.7;
}
.energy .container .boxes .row .box p.integr{
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 20px;
}
@media(max-width:904px){
    .energy .container{
        flex-direction: column;
    }
}
@media(max-width:608px){
    .energy .container .boxes .row{
        flex-direction: column;
    }
}
/* End Energy */
/* Start Values */
.values{
    padding-top: 100px;
    padding-bottom: 100px;
}
.values .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
gap: 30px;
margin-top: 40px;
}
.values .container .box{
    border: 1px solid #abd4ca;
    border-radius: 8px;
    padding: 15px;
}
.values .container .box h3{
    padding: 10px 0;
}
.values .container .box p{
    line-height: 1.5;
    color:#5c6878;
}
/* End Values */
/* Start Testemonials */
.testemonials{
    margin-top: 100px;
    margin-bottom: 50px;
}
.testemonials .container{
display: flex;
align-items: center;
justify-content: space-between;
}
.testemonials .container .left i{
    color:#3cab8f;
    font-size: 60px;
}
.testemonials .container .left h2{
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    max-width: 300px;
}
.testemonials .container .left p{
    color: #303030;
    max-width: 300px;
    line-height: 1.6;
    margin-top: 15px;
}
.testemonials .container .right{
    background-color: #f2faf8;
    padding: 12px;
    flex-basis: 60%;
}
.testemonials .container .right p:first-of-type{
    color:var(--primary-color);
    margin-bottom: 30px;
    font-weight: bold;
}
.testemonials .container .right p:nth-of-type(2){
    color: #1b2333;
    line-height: 1.6;
    margin-bottom: 70px;
    font-size: 20px;
    max-width: 400px;
}
.testemonials .container .right .test{
    display :flex ;
    justify-content: space-between;
    align-items: center;
}
.testemonials .container .right .test i{
    cursor: pointer;
    font-size: 20px;
}
.testemonials .container .right .test .info{
    display: flex;
    gap: 20px;
    align-items: center;
}
.testemonials .container .right .test .info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testemonials .container .right .test .info .text p{
    color: black;
}
@media(max-width:768px){
    .testemonials .container{
        flex-direction: column;
    }
    .testemonials .container .right{
        margin-top: 30px;
    }
}
/* End Testemonials */
/* Start Footer */
footer{
    background-color: #273545;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .container .row{
display: flex;
padding-bottom: 30px;
justify-content: space-between;
}
footer ul{
    display: flex;
    gap: 30px;
}
footer .container .right button{
color: white;
background-color: var(--secondary-color);
cursor: pointer;
border: none;
}
footer .email{
    position: relative;

}
footer input{
    background-color: #3b4857;
    border: 1px solid #717c8a;
    caret-color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 40px;
    width: 300px;
}
footer input:focus{
outline: none;;
}
footer button{
    padding: 10px 15px;
    border-radius: 40px;
    position: absolute;
    right: 0;
}
footer .row .nav{
    margin-top: 20px;
}
footer .row .nav li a{
    color: #c6cbcf;
}
p.copyright{
    color: #7f878f;
    margin-top: 20px;
}
.row ul.serv li{
    margin-top: 20px;
}
.row .serv li a{
    border-right:1px solid #525d69;
    color: #525d69;
    padding-right: 10px;
}
label{
    display: block;
    color:white;
    margin-bottom: 15px;
}
hr{
    color: #4c5661;
}
@media(max-width:768px){
    footer .container .row{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    label{
        margin-top: 40px;
    }
}
@media (max-width:991px) {
    footer input{
        width: 300px;
    }
}
/* End Footer */